@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300&display=swap');

:root {
    --bg-body: #1d2226;
    --color: #efefef;
    --bg-input: #161616;
    --color-error: rgba(242, 28, 28, 0.741);
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Marhey', cursive;
    color: var(--color);
}

body {
    background: var(--bg-body);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

/* header */
#header {
    margin-top: 100px;
    margin-bottom: 30px;
}

#header h1 {
    font-size: 42px;
    color: var(--color);
}

/* task div */
#taskDiv #taskHeader {
    display: flex;
    justify-content: space-between;
    width: 450px;
    margin-bottom: 50px;

}

#taskField {
    width: 400px;
    height: 40px;
    background-color: var(--bg-input);
    border: none;
    outline: none;
    padding: 0 20px;
    border-radius: 10px;
    font-size: 20px;
    color: var(--color);
}

#addTask {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border: none;
    border-radius: 10px;
    background-color: var(--bg-input);
    cursor: pointer;
    color: var(--color);
    font-size: 18px;
    transition: .1s;
}

#addTask:active {
    font-size: 10px;
}

#taskList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 450px;
    margin-bottom: 15px;
}

#taskList li {
    color: var(--color);
}

.task {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: var(--bg-input);
    padding: 0 5px 0 20px;
    font-size: 20px;
    position: relative;
    gap: 5px;
}

.task .taskLi {
    position: absolute;
    left: 20px;
}


.check, .edit, .trash {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 30px;
    border-radius: 10px;
    border: none;
    background: transparent;
    font-size: 18px;
    transition: .1s;
}

.checkLi {
    text-decoration: line-through;
    opacity: .5;
}

.checkBtn {
    opacity: .5;
}

#taskList .task .check:active {
    font-size: 10px;
}

/* msg error */
#msg {
    color: var(--color-error);
}

/* responsive */
@media (max-width: 600px) {
    #taskDiv #taskHeader {
        width: 350px;
    }

    #taskField {
        width: 300px;
    }

    #taskList {
        width: 350px;
    }
    
}


